@charset "utf-8";
	.NormalCharacterStyle8
{
	font-family : Brandon Grotesque;
	font-weight : bold;
	font-size : 24px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle6
{
	font-family : Brandon Grotesque;
	font-size : 24px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle
{
	font-family : Brandon Grotesque;
	font-weight : bold;
	font-size : 34px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle1
{
	font-family : Brandon Grotesque;
	font-weight : bold;
	font-size : 34px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle9
{
	font-family : Brandon Grotesque;
	font-weight : bold;
	font-size : 61px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle2
{
	font-family : Brandon Grotesque;
	font-weight : bold;
	font-size : 34px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle7
{
	font-family : Brandon Grotesque;
	font-size : 24px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle3
{
	font-family : Brandon Grotesque;
	font-size : 29px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle5
{
	font-family : Brandon Grotesque;
	font-size : 24px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle4
{
	font-family : Brandon Grotesque;
	font-weight : bold;
	font-size : 34px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.image2
{
	background-image : url(image2.png);
	background-repeat : no-repeat;
}
.st0
{
	background : #000000;
	background : rgba(0, 0, 0, 1);
	opacity : 0.04;
	filter: alpha(opacity=4) progid:DXImageTransform.Microsoft.Alpha(opacity=4) ;
}
.image
{
	background-image : url(image.png);
	background-repeat : no-repeat;
}
.st1
{
	border-style : Solid;
	border-color : #000000;
	border-color : rgba(0, 0, 0, 1);
	border-width : 2px;
}
.image3
{
	background-image : url(image3.png);
	background-repeat : no-repeat;
}
.image1
{
	background-image : url(image1.png);
	background-repeat : no-repeat;
}
