@charset "utf-8";
	.NormalCharacterStyle
{
	font-family : Brandon Grotesque;
	font-size : 23px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle1
{
	font-family : Brandon Grotesque;
	font-size : 23px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle2
{
	font-family : Brandon Grotesque;
	font-size : 23px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle3
{
	font-family : Brandon Grotesque;
	font-size : 23px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.image4
{
	background-image : url(image4.png);
	background-repeat : no-repeat;
}
.image2
{
	background-image : url(image2.png);
	background-repeat : no-repeat;
}
.image8
{
	background-image : url(image8.png);
	background-repeat : no-repeat;
}
.image7
{
	background-image : url(image7.png);
	background-repeat : no-repeat;
}
.st0
{
	border-style : Solid;
	border-color : #FFFFFF;
	border-color : rgba(255, 255, 255, 1);
	border-width : 1px;
}
.image
{
	background-image : url(image.png);
	background-repeat : no-repeat;
}
.image6
{
	background-image : url(image6.png);
	background-repeat : no-repeat;
}
.st1
{
	border-style : Solid;
	border-color : #FFFFFF;
	border-color : rgba(255, 255, 255, 1);
	border-width : 1px;
}
.image3
{
	background-image : url(image3.png);
	background-repeat : no-repeat;
}
.image1
{
	background-image : url(image1.png);
	background-repeat : no-repeat;
}
.image9
{
	background-image : url(image9.png);
	background-repeat : no-repeat;
}
.image5
{
	background-image : url(image5.png);
	background-repeat : no-repeat;
}
.st2
{
	border-style : Solid;
	border-color : #FFFFFF;
	border-color : rgba(255, 255, 255, 1);
	border-width : 1px;
}
.st3
{
	border-style : Solid;
	border-color : #FFFFFF;
	border-color : rgba(255, 255, 255, 1);
	border-width : 1px;
}
